@charset "UTF-8";




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Times New Roman', Times, serif, serif;
    font-weight: 400;
    font-style: normal;
  }
  
  header {

    top: 0px;
    left: 0px;
    background-color: #000000;
    color: #636564;
    text-align: center;
    padding: 10px;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    max-width: 100px;
    height: auto;
  }

  menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .menu ul li {
    display: inline;
  }
  
  .menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .menu ul li a:hover {
    background-color: white;
    color: #333;
    border-radius: 5px;
  }
  
  /* Carrinho */
  .cart a img {
    display: flex;
    max-width: 30px;
    height: auto;
    transition: transform 0.3s;
  }
  
  .cart a img:hover {
    transform: scale(1.2);
  }
  
  
  main {
    margin: 20px;
  }
  
  section {
    
  }
  
  section h2 {
    text-align: left;
    margin-bottom: 10px;
    color: #636564;
  }
  
  /* Galeria de imagens */
  .scroll-gallery {
    display: flex;
    overflow-x: scroll; /* Permite rolagem horizontal */
    overflow-y: hidden; /* Impede rolagem vertical */
    width: 100%; /* Responsivo */
    scroll-snap-type: x mandatory; /* Facilita a navegação suave pelas imagens */
    -webkit-overflow-scrolling: touch; /* Suporte para rolagem suave em dispositivos móveis */
  }
  
  .scroll-gallery img {
    width: 200px;
    height: 100%;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    scroll-snap-align: start; /* Faz com que a rolagem pare em cada imagem */
  }
  
  /* Esconde a barra de rolagem, mas mantém a funcionalidade */
  .scroll-gallery::-webkit-scrollbar {
    display: none;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: left;
    padding: 20px 10px;
    margin-top: 20px;
  }
  
  .footer-icons {
    margin-bottom: 10px;
  }
  
  .footer-icons a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 15px;
    transition: color 0.3s;
  }
  
  .footer-icons a:hover {
    color: #8e12f3; /* Cor de destaque ao passar o mouse */
  }
  
  footer p {
    font-size: 14px;
    margin-top: 10px;
  }
  .direitos{
    margin: 0px;
    text-align: center;
  }
  .icones{
    width: 25px;
    padding: 0px;
    margin: 0px;
    border: 0px;
  }